.about-section{
    min-height: 300px;
    padding: 50px 30px;
    background-size: cover;
    background-position: center;
    background-image: url('/src/assets/about-bg.png');
}

.about-section-inner{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 12px;
}



.about-section-inner h1{
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 32px;
    text-align: center;
}

.about-section-inner p {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #7c7c7c;
} 